Navbar{
    position: fixed;

    .nav-admin{
        display: flex;
        
        .icon-admin{
            display: flex;
            height: 20px;
            width: 20px;
        }
        // .admin{
        //     margin-left: 10px;
        // }
    }
}