@media (max-width: 1024px) {
  .destination-img img {
    width: 85%;
    height: auto;
  }
  .first-img-destination {
    height: 200px;
    width: 100%;
  }
}

.icon-wishlist {
  svg {
    width: 100%;

    &:hover {
      cursor: pointer;
      color: #0060c2;
    }
  }
}

@media (min-width: 1025px) {
  .first-img-destination {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.destination-img img {
  height: 180px;
  width: 85%;
}
