.new-notification{
    
    .notif{
        margin-top: 90px;
        margin-bottom: 20px;
        min-height: 80vh;

        .notif-title{
            margin-left: 117px;
            font-style: bold;
            margin-bottom: 20px;
        }
    }
}