.edit-button {
  text-align: right;
  align-items: right;
  justify-content: end;
  margin-right: 115px;
  margin-top: 10px;
}
.btn-kuning{
 &:hover{
    background-color: rgb(0, 7, 109);
  }
}
@media (min-width: 768px) {
  .upload-pp {
    position: absolute;
    margin-right: 3rem;
    top: 170px;
  }
}

.form-edit {
  .avatar {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 20px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 20px;
    -moz-background-clip: padding;
    border-radius: 20px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
  }
}