/* Import */
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFxY1FrRPXk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFwG1FrRPXk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFzh01rRPXk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFyv01rRPXk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_4h_ekGrW.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_vB_ekGrW.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_WxjekGrW.ttf)
    format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_FRjekGrW.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rDks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rCks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFks8xkw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j2_Co.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh2wpk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh2wpk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ejx.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh2wpk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wpk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h2wpk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h2wpk.ttf)
    format("truetype");
}
/* Variables */
/* Base */
body {
  background: #252827;
  font-size: 16px;
}
p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

#timeline-content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #004ffc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  font-family: "Chivo", sans-serif;
  margin: 50px auto 0 10em;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 0 50px 0 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
}
.timeline h1 {
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}
.timeline h2,
.timeline h3 {
  letter-spacing: 1.5px;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 10px;
  position: relative;
  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  &:before,
  &:after {
    position: absolute;
    display: block;
    top: 0;
  }
  &:before {
    left: -217.5px;
    color: rgb(33, 33, 33);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 3em;
    min-width: 120px;
  }
  &:after {
    box-shadow: 0 0 0 4px #0060c2;
    left: -66.85px;
    background: #0060c2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    content: "";
    top: 0;
  }
}
