// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$theme-colors: (
  "primary": #0060c2,
);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/buttons";

* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f4f4f4;
}

$primary-bg-papier: #249fda;

.bg-papier {
  background-color: $primary-bg-papier;
  color: #fff;
}

.bg-babyblue {
  background-color: #c2d9f1;
}

.mx-7 {
  margin-left: 12%;
}

.font-title {
  font-weight: bold;
  font-size: 25px;
  margin: 64px 0 36px 0;
  text-align: center;
}

.img-banner {
  overflow-x: hidden;
  margin-top: 80px;
}