.check-in{
    margin-top: 40px;
    .title-checkin{
        margin-left: 117px;
    }
    .checkin-button{
        margin-left: 117px;
        margin-bottom: 20px;
    }
}

.template-card{
    margin-top: 80px;
    // margin-left: 117px;
    // width: 1110px;
    // height: 80px;
    justify-content: center;
    // align-items: center;
    text-align: left;
}