.sidebar{
    margin-top: 40px;
    position: fixed;
    max-height: 100vh;
    flex: 1.5;
    // min-height: 100vh;
    background-color: #538AB1;

    .center{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            margin: 10px;
            
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                height: 55px;
                margin-right: 5px;

                &:hover{
                    background-color: #323A7A;
                }

                .icon{
                    font-size: 20px;
                    color: #FFFFFF;
                }

                span{
                    font-size: 15px;
                    font-weight: 600;
                    color: #FFFFFF;
                    margin-left: 5px;
                }
            }
        }
    }
}